<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftarkan Nasabah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Daftarkan Nasabah</h1>
        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
        <form action="/daftarkan_nasabah" method="POST">
            <input type="text" name="username" placeholder="Username Nasabah" required>
            <input type="password" name="password" placeholder="Password Nasabah" required>
            <input type="number" name="saldo" placeholder="Saldo Awal" required step="0.01"> <!-- Input untuk saldo -->
            <button type="submit">Daftarkan</button>
        </form>
        <a href="/karyawan" class="back-button">Kembali</a>
    </div>
</body>
</html>